<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.koushik.volumepanel">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="false"
        android:label="Volume Panel"
        android:icon="@android:drawable/ic_lock_silent_mode"


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".VolumeService"
            android:exported="false"/>

        <receiver
            android:name=".VolumeReceiver"
            android:exported="false"/>

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>
